@media only screen and (max-width: 640px) {
  #top-nav > ul > li {
    display: none;
  }
  #side-menu {
    display: block;
  }
  div.content-block {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  #navToggle {
    display: none;
  }
  #side-menu {
    display: none;
  }
  div.content-block {
    /* views_primary | view A*/
    width: 60%;
  }
}