
.view_primary {
  width: 100%;
  height: 100vh;
}

#view_a {
  /* background: rgb(199,223,215);
  background: -moz-linear-gradient(-45deg, rgba(199,223,215,1) 0%, rgb(27, 181, 91) 38%, rgba(22,146,103,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(199,223,215,1) 0%,rgb(12, 117, 47) 38%,rgb(7, 100, 4) 100%);
  background: linear-gradient(135deg, rgba(199,223,215,1) 0%,rgb(27, 181, 35) 38%,rgb(6, 78, 27) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7dfd7', endColorstr='#106e4d',GradientType=1 ); */
background-image: url("../img/landscape_scene1.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.content-block {
  background-color: rgba(7, 6, 6, 0.8);
  color: white;
  //width: 50%;
  //height: 50vh;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  box-shadow: 4px 4px 0 4px beige;
}

.content-body {
  padding: 10px 20px;
  box-sizing: border-box;
}

.content-body > h2, p {
  color: white;
}



#view_b {
  border-top: 8px solid black;
  background-color: blue;
  background: rgb(199,223,215);
  background: -moz-linear-gradient(-45deg, rgb(2, 5, 4) 0%, rgb(14, 78, 41) 38%, rgba(22,146,103,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(0, 0, 0) 0%,rgb(8, 59, 25) 38%,rgb(7, 100, 4) 100%);
  background: linear-gradient(135deg, rgb(2, 5, 4) 0%,rgb(14, 87, 17) 38%,rgb(6, 78, 27) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7dfd7', endColorstr='#106e4d',GradientType=1 );
  background-image: url("../img/landscape_water.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: auto;   /*-- this is super fucking cool .. Note it for views!!! */
padding-bottom: 30px;
}

#view_c {
  background-color: red;
}

#view_d {
  background-color: orange;
}

/* ==== [[ Section Views ]]==== */

/* .services-header {
  margin-top: 60px;
  text-align: center;
} */



/*test ===============
*/
.col-align-right {
  //background-color: #20891B;
  float: right;
}
.col-align-left {
  display: inline-block;
  //background-color: orange;
  
}






#page_landscape {
  background-color: purple;
  display: block;
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: 40px;
  right: 100vw;
  z-index: 1;
}

#page_stone {
  background-color: black;
}

#page_brick {
  background-color: white
}

#page_artificial {
  background-color: maroon;
}

#page_water {
  background-color: darkmagenta;
}

#section-view {
  //position: absolute;
  height: 90vh;
  width: 100%;
  //top: 40px;
  z-index: 1;
  display: block;
  background-color: white;
}

.section-on {
  height: 100vh;
  width: 100%;
  top: 40px;
  z-index: 1;


}

#section-landscape {
  background-color: #6FF77F;
  transition: 400ms;
}

#section-stone {
  background-color: #20891B;
}

#section-brick {
  background-color: #49F451;
}

#section-artificial {
  background-color: #B2E87E;
}

#section-water {
  background-color: #01FF9C;
}
